<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Meet Your Roommate</span>
    <span class="default-spacer"></span>
    <div>
      <a mat-flat-button color="primary" routerLink="/" routerLinkActive="active">Home</a>
      <a mat-flat-button color="primary" routerLink="/students" routerLinkActive="active">Estudiantes</a>
      <a mat-flat-button color="primary" routerLink="/about" routerLinkActive="active">About</a>
      <a mat-flat-button color="primary" routerLink="/properties" routerLinkActive="active">Propiedades</a>
      <a mat-flat-button color="primary" routerLink="/lessors/1" routerLinkActive="active">Perfil de Arrendador</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
