<mat-card style="text-align: center">
    <ng-container>
    <img mat-card-image  src="https://revistazoomempresarial.files.wordpress.com/2019/06/roommates.jpg">

        <button mat-raised-button color="secondary" class="classic_button_prev btn btn-primary btn-large" style="margin-right: 3px" (click)="navigateToStudentProfile()">
            Iniciar Sesión Estudiante
        </button>
        <button mat-raised-button color="secondary" class="classic_button_next btn btn-primary btn-large" style="margin-right: 3px" (click)="navigateToLessorProfile()">
            Iniciar Sesión Consultor
        </button>
    </ng-container>
</mat-card>
