.background {
    background-image: url("https://revistazoomempresarial.files.wordpress.com/2019/06/roommates.jpg");
}
.classic_button_next{ position: absolute; left: 400px; top: 50px; }
.classic_button_prev { position: absolute; right: 400px; top: 50px; }

