.button-container{
  align-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  padding-bottom: 100px;
}
.next-button{
  display: block;
  margin-bottom: 25px;
}
#student-area{
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin-left: auto;
}

#lessor-area{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: auto;
}
