
<mat-card class="form-container">
  <mat-card-header>
    <mat-card-title>
      <h1>Register as a Lessor</h1>
    </mat-card-title>
  </mat-card-header>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
    <mat-card-content>
      <mat-form-field appearance="outline" class="form-field" color="warn">
        <mat-label>Email</mat-label>
        <input matInput
               formControlName="mail"
               type="email"
               placeholder="youremail@gmail.com"
               required>
        <mat-error *ngIf="mail.invalid">
          Submit a valid email address.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field" color="warn">
        <mat-label>Password</mat-label>
        <input matInput
               formControlName="password"
               type="password"
               placeholder="Password"
               required>
        <mat-error *ngIf="password.invalid">
          Password too short.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field" color="warn">
        <mat-label>First Name</mat-label>
        <input matInput
               formControlName="firstName"
               placeholder="Your Name"
               required>
        <mat-error *ngIf="firstName.invalid">
          First Name too short.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field" color="warn">
        <mat-label>Last Name</mat-label>
        <input matInput
               formControlName="lastName"
               placeholder="Your Last Name"
               required>
        <mat-error *ngIf="lastName.invalid">
          Last Name too short.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field" color="warn">
        <mat-label>DNI</mat-label>
        <input matInput
               formControlName="dni"
               placeholder="DNI"
               required>
        <mat-error *ngIf="dni.invalid">
          Your DNI isn't the right length (8 digits).
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field" color="warn">
        <mat-label>Phone Number</mat-label>
        <input matInput
               formControlName="phoneNumber"
               placeholder="Ex. 98696969"
               required>
        <mat-error *ngIf="phoneNumber.invalid">
          Your phone number isn't the right length (9 digits).
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field" color="warn">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender" >
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
          <mat-option value="other">Other</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field" color="warn">
        <mat-label>Birth Date</mat-label>
        <input matInput
               formControlName="birthdate"
               placeholder="1998-10-10 (YYYY-MM-DD)"
               required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field" color="warn">
        <mat-label>Address</mat-label>
        <input matInput
               formControlName="address"
               placeholder="Example Street 123"
               required>
        <mat-error *ngIf="address.invalid">
          Your address is too short.
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
              class="submit-button"
              color="warn"
              type="submit">
        Register
      </button>
    </mat-card-actions>
    </div>
  </form>
</mat-card>


