
<div class="ads-header">
  <h1>Alojamientos que ofrecen la mejor comodidad al estudiante</h1>
  <h3>Previamente filtrados y seleccionados</h3>
</div>
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon class="spacing-left">filter</mat-icon>
      Filtrar
    </button>
    <span class="ads-spacer"></span>
    <button mat-icon-button>
      <mat-icon class="spacing-right">search</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="Title">
    <th mat-header-cell *matHeaderCellDef> title </th>
    <td mat-cell *matCellDef="let element"> {{ element.title }}</td>
  </ng-container>

  <!-- Views Column -->
  <ng-container matColumnDef="viewsNumber">
    <th mat-header-cell *matHeaderCellDef> Views Number </th>
    <td mat-cell *matCellDef="let element"> {{ element.viewsNumber }}</td>
  </ng-container>

  <!-- Likes Column -->
  <ng-container matColumnDef="likesNumber">
    <th mat-header-cell *matHeaderCellDef> Likes Number </th>
    <td mat-cell *matCellDef="let element"> {{element.likesNumber}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [ngClass]="{'editable-row': adData.id === row.id}"></tr>
</table>
